<div class="email-preview">
  <div class="content content-loading" ng-show="isLoading()">
    <zs-spinner is-loading="isLoading()"></zs-spinner>
  </div>
  
  <div class="content" ng-show="!isLoading()">
    <div class="row"  ng-show="getPreviewData().from">
      <div class="column column-field">
        <span class="field-label">Van:</span> 
        <span class="field-value">{{getPreviewData().from}}</span>
      </div>
    </div>
    <div class="row">
      <div class="column column-field"><span class="field-label">Aan:</span> {{getPreviewData().to || '-'}}</div>
    </div>
    <div class="row"  ng-show="getPreviewData().bcc">
      <div class="column column-field"><span class="field-label">Bcc:</span> {{getPreviewData().bcc}}</div>
    </div>
    <div class="row">
      <div class="column column-field">{{getPreviewData().subject}}</div>
    </div>
    <div class="row">
      <div class="column column-field column-multi-line">{{getPreviewData().body}}</div>
    </div>
    <div class="row" ng-show="getPreviewData().attachments">
      <div class="column column-field">
        <div class="email-preview-attachment" data-ng-repeat="attachment in getPreviewData().attachments">
          <i class="mdi mdi-attachment"></i> {{attachment}}
        </div>
      </div>
    </div>
  </div>
  
</div>
