[% BLOCK show_label %]
    [% IF row.label %]
        [% row.label %]
    [% ELSE %]
        [% row.resultaat | ucfirst %]
    [% END %]
[% END %]

    <div class="kenmerk-veld" data-ng-show="caseResult.canChange() || '[% row.resultaat %]'===caseResult.getValue()">

        <div class="kenmerk">
            <label>
                <input 
                    class="ezra-disable_fieldUpdate"
                    type="radio"
                    data-ng-if="caseResult.canChange()"
                    data-ng-checked="caseResult.isResult('[% row.resultaat %]')"
                    data-ng-click="caseResult.setResult('[% row.resultaat %]')"
                    name="system_kenmerk_resultaat"
                    value="[% row.resultaat %]"
                />
                [% PROCESS show_label %]
            </label>
        </div>

        [% UNLESS pip %]
            [% PROCESS widgets/zaak/zaak_result_info.tt resultaat=row %]
        [% END %]
    </div>
