[% veldoptietype = params.type -%]
<div id="kenmerk_definitie">
<form>
<input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr %]">
<input type="hidden" name="update" value="1">
<input type="hidden" name="rownumber" value="[% rownumber %]">
<input type="hidden" name="edit_id" value="[% c.req.params.edit_id %]">
<div id="kenmerk_template" class="form">
        [% #IF milestone_number != 1 #- is this relevant for intake? %]
        <div class="row">
            <div class="column large-5">
                <div class="field-label field-has-help">
                    <div class="field-help">
                        [% PROCESS widgets/general/dropdown.tt
                            icon = 'icon-question-sign',
                            icon_type = 'icon-font-awesome',
                            content_overflow = 'dropdown-content-overflow',
                            dropdown_content = 'Als de zaak een hoofdzaak heeft worden waarden en instellingen van gelijknamig kenmerk in hoofdzaak gebruikt. Onderstaande instellingen worden gebruikt als de zaak niet gekoppeld is aan een hoofdzaak.',
                            allow_click = 1
                        %]
                    </div>
                    <label class="titel">Referentieel</label>
                </div>
            </div>
            <div class="column large-7">
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_referential" />
                <input type="checkbox" name="kenmerken_referential" value="1"[% (params.referential ? ' checked' : '') %] />
            </div>
        </div>
        [% #END %]

        <div class="row">
            <div class="column large-5">Titel</div>
            <div class="column large-7">
                <input type="text" name="kenmerken_label" value="[% params.label %]" class="input_large">
            </div>
        </div>
        <div class="row">
            <div class="column large-5">Toelichting (intern)</div>
            <div class="column large-7">
                <input type="hidden" class="zs-rich-text-editor" value="[% params.help | html %]" features="bold italic underline link bullet ordered" name="kenmerken_help" />
            </div>
        </div>
        <div class="row">
            <div class="column large-5">Toelichting (extern)</div>
            <div class="column large-7">
                <input type="hidden" class="zs-rich-text-editor" value="[% params.help_extern | html %]" features="bold italic underline link bullet ordered" name="kenmerken_help_extern" />
            </div>
        </div>

        [% IF c.stash.bibliotheek_kenmerk.type_multiple %]
        <div class="row">
            <div class="column large-5">Label voor opplusbaar kenmerk</div>
            <div class="column large-7">
                <input type="text" name="kenmerken_label_multiple" value="[% params.label_multiple %]">
            </div>
        </div>
        [% END %]

        [% IF ZCONSTANTS.veld_opties.$veldoptietype.can_zaakadres %]
        <div class="row">
            <div class="column large-5">Gebruiken als zaakadres</div>
            <div class="column large-7">
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_bag_zaakadres" />
                <input type="checkbox" name="kenmerken_bag_zaakadres" value="1"[% (params.bag_zaakadres ? ' checked' : '') %] />
            </div>
        </div>
        [% END %]

        <div class="row">
            <div class="column large-5">Publiceren</div>
            <div class="column large-7">
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_pip" />
                <input type="checkbox" name="kenmerken_pip" value="1"[% (params.pip ? ' checked' : '') %] /> Persoonlijke Internet Pagina (PIP)
                <br/>
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_publish_public" />
                <input type="checkbox" name="kenmerken_publish_public" value="1"[% (params.publish_public ? ' checked' : '') %] /> Extern systeem (API)
            </div>
        </div>

        <div class="row">
            <div class="column large-5">Aanvrager/gemachtigde kan kenmerk wijzigen in PIP</div>
            <div class="column large-7">
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_pip_can_change" />
                <input type="checkbox" name="kenmerken_pip_can_change" value="1"[% (params.pip_can_change ? ' checked' : '') %] />
            </div>
        </div>

        <div class="row">
            <div class="column large-5">Verplicht</div>
            <div class="column large-7">
                <div>
                    <input type="hidden" name="dialog_checkboxes" value="kenmerken_value_mandatory" />
                    <input type="checkbox" value="1" name="kenmerken_value_mandatory"[% (params.value_mandatory ? ' checked="checked"' : '') %]>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column large-5">
                <div class="field-label field-has-help">
                    <div class="field-help">
                    [% PROCESS widgets/general/dropdown.tt
                        icon = 'icon-question-sign',
                        icon_type = 'icon-font-awesome',
                        content_overflow = 'dropdown-content-overflow',
                        dropdown_content = "Kenmerk wordt verborgen. Deze optie kan niet worden gebruikt in combinatie met de optie 'Verplicht'.",
                        allow_click = 1
                    %]
                    </div>
                    <label class="titel">Gebruik als systeemkenmerk</label>
                </div>
            </div>
            <div class="column large-7">
                <div>
                    <input type="hidden" name="dialog_checkboxes" value="kenmerken_is_systeemkenmerk" />
                    <input type="checkbox" name="kenmerken_is_systeemkenmerk" value="1"[% (params.is_systeemkenmerk ? ' checked' : '') %] />
                </div>
            </div>
        </div>

        <div class="row" data-ng-controller="nl.mintlab.admin.RequiredPermissionController">

            <div class="column large-5">Specifieke behandelrechten</div>
            <div class="column large-7">
                <script type="text/zs-scope-data">[% params.required_permissions %]</script>
                <input type="hidden" value="<[getJson()]>" name="kenmerken_required_permissions"/>
                <div class="kenmerk-specific-rights">
                    <ul>
                        <li data-ng-repeat="selectedUnit in selectedUnits">
                            <span>Afdeling</span>
                            <select data-ng-model="selectedUnit.org_unit_id" data-ng-options="unit.org_unit_id as unit.name for unit in getUnits()" data-ng-change="handleUnitChange(selectedUnit)">
                            </select><br/>
                            <span>Rol</span>
                            <select data-ng-model="selectedUnit.role_id" data-ng-options="role.role_id as getRoleName(role) for role in getRolesForUnit(selectedUnit) | orderBy:'system'">
                            </select>
                            <button type="button" data-ng-click="remove(selectedUnit)">
                                <i class="icon-remove icon-font-awesome"></i>
                            </button>
                        </li>
                    </ul>

                    <button type="button" data-ng-click="add()" class="button button-secondary button-small">
                        Toevoegen
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column large-5">
                <div class="field-label field-has-help">
                    <div class="field-help">
                    [% PROCESS widgets/general/dropdown.tt
                        icon = 'icon-question-sign',
                        icon_type = 'icon-font-awesome',
                        content_overflow = 'dropdown-content-overflow',
                        dropdown_content = "Als deze optie aan staat, worden wijzigingen op dit kenmerk van gebruikers met specifieke behandelrechten niet in de wachtrij gezet maar direct uitgevoerd.",
                        allow_click = 1
                    %]
                    </div>
                    <label class="titel">Wachtrij overslaan</label>
                </div>
            </div>
            <div class="column large-7">
                <div>
                    <input type="hidden" name="dialog_checkboxes" value="kenmerken_skip_change_approval" />
                    <input type="checkbox" value="1" name="kenmerken_skip_change_approval"[% (params.properties.skip_change_approval ? ' checked="checked"' : '') %] />
                </div>
            </div>
        </div>

        [% IF bibliotheek_kenmerk.value_type == 'geolatlon' %]
        <div class="row">
            <div class="column large-5">Kaartlaag</div>
            <div class="column large-7">
                [% IF map_layer_settings %]
                <select name="kenmerken_map_wms_layer_id">
                    <option value="">Geen kaartlaag</option>
                    [% FOR layer IN map_layer_settings.wms_layers %]
                    [% NEXT UNLESS layer.active %]
                    <option value="[% layer.layer_name %]"[% params.properties.map_wms_layer_id == layer.layer_name ? ' selected' : '' %]>
                        [% layer.label %]
                    </option>
                    [% END %]
                </select>
                [% ELSE %]
                <span>
                    Er is geen actieve kaartconfiguratie ingesteld, kaartlaag
                    functionaliteit kan niet gebruikt worden
                </span>
                [% END %]
            </div>
        </div>

        [% IF map_layer_settings %]
        <div class="row">
            <div class="column large-5">Gebruik als zaaklocatie</div>
            <div class="column large-7">
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_map_case_location" />
                <input type="checkbox" value="1" name="kenmerken_map_case_location"[% params.properties.map_case_location ? ' checked' : '' %] />
            </div>
        </div>

        <div class="row">
            <div class="column large-5">WMS-Kaartlaag kenmerk</div>
            <div class="column large-7 ezra_objectsearch_kenmerk zoek_veld">
                <input type="hidden" name="kenmerken_map_wms_feature_attribute_id" value="[% params.properties.map_wms_feature_attribute_id %]" />
                <input type="text" name="kenmerken_map_wms_feature_attribute_label" value="[% params.properties.map_wms_feature_attribute_label %]" class="searchbox ezra_kenmerk_autocomplete" placeholder="Zoek kenmerk..." hidden-field="kenmerken_map_wms_feature_attribute_id" />
            </div>
        </div>
        [% END %]
        [% END %]

        [% IF bibliotheek_kenmerk.value_type == 'date' && milestone_number == 1 %]
        <div class="row">
            <div class="column large-5">

                <div class="field-label field-has-help">
                    <div class="field-help">
                    [% PROCESS widgets/general/dropdown.tt
                        icon = 'icon-question-sign',
                        icon_type = 'icon-font-awesome',
                        content_overflow = 'dropdown-content-overflow',
                        dropdown_content = 'De data die op formulieren geselecteerd kunnen worden in de kalender zijn beperkt tot de opgegeven periode.',
                        allow_click = 1
                    %]
                    </div>
                    <label class="titel">Datumbeperking</label>
                </div>
            </div>
            <div class="column large-7">
                [% PROCESS widgets/beheer/date_limitations.tt
                    info_box = "Dit is de infobox"
                    label    = "Start"
                    type     = "start"
                %]

                [% PROCESS widgets/beheer/date_limitations.tt
                    info_box = "Dit is de infobox"
                    label    = "Eindigt"
                    type     = "end"
                %]
            </div>
        </div>
        [% END %]
        <div class="form-actions">
            <input type="submit" value="Opslaan" class="button button-primary">
        </div>
    </form>
</div>
