<div
	class="case-status-template"
	zs-tooltip="{{vm.status() | caseStatusLabel }}"
>
	<zs-icon icon-type="emtpy-icon icon-status icon-status-{{vm.getIcon()}}">
	</zs-icon>
	<zs-notification-counter
		data-count="vm.updates()">
	</zs-notification-counter>
</div>
