<fieldset class="form-fieldset form-fieldset-name-<[fieldset.name]>" data-ng-repeat="fieldset in generator.fieldsets" data-ng-include="'/html/form/ml-form.html#fieldset">
	
</fieldset>

<script type="text/ng-template" id="/html/form/ml-form.html#fieldset">
	<div class="form-fieldset-meta" data-ng-if="fieldset.title||fieldset.description">
		<div class="form-fieldset-header clearfix" data-ng-show="fieldset.title">
			<span class="form-fieldset-title"><[fieldset.title]></span>
		</div>
		<div class="form-fieldset-desc" data-ng-show="fieldset.description" data-ml-template="fieldset.description">
		</div>
	</div>
	<div class="form-fieldset-children">
		<div data-ml-form-field data-ml-form-field-name="field.name" data-ml-form-field-template="field" data-ng-repeat="field in fieldset.fields">
		</div>
		<!--div class="form-field form-field-name-<[field.name]>" data-ng-repeat="config in fieldset.getChildren() | filter:form.isFieldVisible(config) track by config.name" data-zs-form-field data-zs-form-field-name="<[config.name]>" data-zs-form-field-type="<[config.type]>" data-zs-form-field-value="config.value" data-zs-form-field-default-value="config.default" data-zs-form-field-data="config.data" data-zs-form-field-required="<[config.required]>" data-zs-form-field-description="<[config.description]>" data-zs-form-field-label="<[config.label]>" data-zs-model-options="config.model" data-ng-class="{'form-field-required': field.isRequired(), 'form-field-valid': field.isValid(), 'form-field-invalid': !field.isValid(), 'form-field-pristine': field.isPristine() }"-->
		</div>
	</div>
	<div class="form-fieldset-template" data-ng-if="fieldset.templateUrl" data-ng-include="fieldset.templateUrl">
	</div>
</script>

<script type="text/ng-template" id="/html/form/ml-form.html#field">
	<div class="form-field_label" data-ng-class="{'form-field-label-empty': field.label}">
		<label>
			<[field.label]>
			<span class="form-field-required-indicator" data-ng-show="mlFormField.isRequired()"> (*)</span>
		</label>
	</div>
	
	<div class="form-field-input" data-ng-include="mlFormField.getTemplateUrl()">
	
	</div>
	
	<div class="form-field-revert">
		<button type="button" class="form-field-revert-button" data-ng-click="field.reset()">
			%%Herstel%%
		</button>
	</div>
	
	<div class="form-field-description" data-ng-show="field.description" tabindex="0">
		<div class="form-field-description-icon icon-font-awesome icon-question-sign"></div> 
		<div class="form-field-description-message"  data-zs-template="<[field.description]>"></div>
	</div>
	
	<div class="form-field-status">
		<div class="form-field-status-indicator"></div>
		<div class="form-field-status-message"><[field.getErrorMessage()]></div>
	</div>
</script>