@import "../partials/dependencies";

$template-type:open;

$font-family:Arial, Helvetica, sans-serif;
$font-family-2: "Trebuchet MS", Helvetica, sans-serif;

$logo-url: "../../form/lansingerland/img/logo.png";
$logo-width:260px;
$logo-height:68px;
$header-height:135px;
$header-padding:35px 0 25px;
$title-font-family:$font-family-2;

$container-margin: 0 auto -284px !important;

$primary-color:#46AA42;
$secondary-color:#CE003E;
$tertiary-color:#5F5F5F;

$heading1-font-family:$font-family-2;

$heading2-fontsize: 1.666666666666667em;
$heading2-color:#46AA42;
$heading2-weight: bold;
$heading2-font-family:$font-family-2;

$button-primary-bg:$secondary-color;
$button-primary-bg-hover:$secondary-color;

$button-primary-font-weight:bold;
$button-primary-font-size:1.25em;

$button-font-family:$font-family-2;

$button-id-bg-color:$secondary-color;
$button-id-bg-color-hover: $secondary-color;
$button-id-bg-color-active: $secondary-color;

$border-radius:0px;

$anchor-color:black;
$anchor-color-hover:black;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:underline;

$font-size:75%;
$template-width:100%;
$template-type-open-width:1040px;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-nav-font-size:.9rem;
$pip-progress-bar-bg:$secondary-color;
$toggle-pip-nav-color:#fff;

$pip-progress-bar-bg:lighten($secondary-color,20%);

$title-text-color:white;
$title-bg-color:$primary-color;
$title-padding-right:20px;
$title-padding-left:20px;

$stap-active-bg:$secondary-color;
$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

body{
    color: #212529;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}

.block-header h1{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif !important;
    line-height: 58px;
    margin: 0;
    font-size: 1.638em !important;
    color: white !important;
    font-weight: 400;
    margin-left: 20px;

}
@media only screen and (max-width: 1080px) {
.block-header h1{
    margin-left: initial;
}}

#container {
     border: 0px solid #ccc !important;

}

.button.button-id{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif !important;
}

#container::after{
	content:'';
	height:300px;
	display: block;
}

.grey-topbar{
	min-height: 36px;
	background-color: #edeef1;
	border-bottom:8px solid $primary-color;
	box-shadow:0 4px 5px rgba(0,0,0,0.2); 
	position: relative;
	z-index:1;
}

#footer {
	position: relative;
    line-height: 1.25em;
    overflow: hidden;
    padding-top: .5%;
    padding-bottom: .5%;
    color: #212529;
    background-color: #edeef1;
    font-size: 1rem;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    padding-top: 60px;
    background: #edeef1 url(../../form/lansingerland/img/footer-img-lansingerland.png) 100% 112% no-repeat fixed;
    .container {
	    position: relative;
	    width: 94%;
	    max-width: 1000px;
	    margin: auto;
	    font-size:100%;
	}
	.container-inner {
	    padding: 2% 0;
	}
}


p#footer-line-height {
    line-height: 1.5;
}

#footer .box_1 {
    float: left;
    width: 20%;
    margin-right: 5%;
}

#footer .box_2 {
    float: left;
    width: 20%;
    margin-right: 5%;
}

#footer .box_3 {
    float: left;
    width: 20%;
}

#footer .box_4 {
    width: 22.5%;
    float: right;
}

#footer h2,
#footer .koppelbox ul li.no_link {
    font-size: 1.5em;
    font-weight: bold;
    background: none;
    margin-bottom: 1em;
    line-height: 1.2em;
    color: #212529;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;}

.koppelbox ul{
	list-style: none;
	margin:0;
	padding:0;
}

.koppelbox ul li a,
#footer .wysiwyg a {
    color: #212529;
    display: inline-block;
}

.koppelbox ul li a{
    text-decoration: none;
    &:hover{
    	text-decoration: underline;
    }
}

#footer .koppelbox ul li {
    background-image: url(../../form/lansingerland/img/bullet_white.png);
}

.koppelbox ul li, #aside-loket ul.bullets li {
    padding-left: 1.3em;
    background-image: url(../../form/lansingerland/img/bullet_red.png);
    background-position: left .2em;
    background-repeat: no-repeat;
    margin-bottom: 0.5em;
}

.footer-extra {
    padding-top: 2em;
    clear: both;
    overflow: hidden;
}

@media only screen and (max-width: 799px) {
	#footer .box_1,
	#footer .box_2,
	#footer .box_3,
	#footer .box_4 {
	    width: 48%;
	    margin-right: 4%;
	    margin-bottom: 2em;
	}
}

@media only screen and (max-width: 799px) {
	#footer .box_2, #footer .box_4 {
	    margin-right: 0;
	}
}

@media only screen and (max-width: 330px) {
	#footer .box_1,
	#footer .box_2,
	#footer .box_3,
	#footer .box_4 {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 2em;
	}
}


#logo-bottom a {
    display: block;
    width: 260px;
    height: 68px;
    background-image: url(../../form/lansingerland/img/logo.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
    margin: auto;
    padding-top: 3rem!important;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
