<div
	class="attribute-update-request"
>

	<div
		class="attribute-update-request-unlock"
		ng-show="!vm.isOpen()"
	>
	<button
		type="button"
		class="btn btn-secondary"
		ng-click="vm.onFormOpen()"
	>
		<span>Wijzigen</span>
	</button>

	</div>

	<div
		class="attribute-update-request-form"
		ng-show="vm.isOpen()"
	>
		<input
			class="attribute-update-request-description"
			type="textarea"
			placeholder="Vul hier eventueel een toelichting in"
			ng-model="vm.description"
			ng-model-options="{ updateOn: 'default', debounce: 0 }"
		/>

		<button
			type="button"
			class="btn btn-secondary"
			ng-click="vm.handleSubmitClick()"
		>
			<span>Opslaan</span>
		</button>

		<button
			type="button"
			class="btn btn-secondary"
			ng-click="vm.onFormClose()"
		>
			<span>Annuleren</span>
		</button>

	</div>

</div>
