<div id="zaaktype_verplaats">
    <form method="POST"
        action="[% c.uri_for('/zaaktype/verplaats/' _ zaaktype_id) %]"
        >
        <input type="hidden" name="zaaktype_id" value="[% zaaktype_id %]">
        <table cellspacing="1" class="table_zaakinformatie">
            <tbody>
                <tr class="table_zaakinformatie_tr">
                    <td class="table_td_left_zaakinformatie">Verplaats Zaaktype:</td>
                    <td class="table_td_right_zaakinformatie">[% zaaktype.titel %]</td>
                </tr>
                <tr class="table_zaakinformatie_tr">
                    <td class="table_td_left_zaakinformatie">Naar Generieke Categorie:</td>
                    <td class="table_td_right_zaakinformatie">
                        <select name="categorie_id">
                        [% WHILE (zaaktype_categorie = zaaktype_categorien.next) %]
                        <option
                        [% (zaaktype_categorie.id == zaaktype.categorie.id ?
                            'selected="selected"' : ''
                            )
                        %]
                        value="[% zaaktype_categorie.id %]">
                                [% zaaktype_categorie.categorie %]
                            </option>
                        [% END %]
                        </select>
                    </td>
                </tr>
           </tbody>
        </table>
        <table class="table_ztbmenu">
            <tr class="table_ztbmenu_tr">
                <td class="table_ztbmenu_tdright"><input id="dialog-submit" type="submit" class="button button-primary" value="Verzenden"></td>
            </tr>
        </table>
    </form>
</div>
