<div class="block">
  <div class="block-header clearfix">
    <h1 class="block-header-title">[% error.titel %]</h1>
  </div>
  <div class="block-content">
    <p>[% error.bericht %]<p>
    [% IF redirect %]
    <p>
    Klik op annuleren om terug te gaan naar
    <a href="[% redirect %]" title="Annuleren" >[% redirect %]</a>.
    </p>
    <div class="form-actions">
      <a href="[% redirect %]" title="Annuleren"><input type="button" value="Annuleren" class="button button-primary" /></a>
    </div>
    [% END %]
    <div class="error-code">
        Supportcode: [% request_id %]
    </div>
  </div>
</div>
