<div class="block sysin-search-single" data-ng-controller="nl.mintlab.object.ObjectSearchController" data-ng-init="localTable='[% local_table %]';localId=[%local_id%];init()">
	
	<!--div class="header header-filter" >
		[% local_table %]
	</div-->
			
	<!--div class="detail-view-field detail-view-field-afnemerindicatie" data-ng-show="objectSubscription">
		
		<div class="detail-view-field-label">
			Afnemerindicatie
		</div>
		
		<div class="detail-view-field-value">
			
			<div class="detail-view-field-value-display">
				<span class="object-subscription-external-id">
					<[objectSubscription.external_id]>
				</span>
				<button class="knop" data-zs-confirm="removeObjectSubscription()" data-zs-confirm-label="Weet u zeker dat u de afnemerindicatie wil verwijderen?" data-zs-confirm-verb="Verwijderen">
					Verwijderen
				</button>
			</div>
			
		</div>
		
	</div-->
	
	<div class="object-view" data-zs-detail-view="/objects/[% local_table %]/[% local_id %]">
	</div>
	
	<div class="object-subscription-view-title">
		<strong>Mutaties van dit object</strong>
	</div>

	<div class="object-subscription-view" data-zs-crud-template-parser="/sysin/transaction_record_to_object/?local_table=[% local_table %]&local_id=[% local_id %]" data-zs-crud-base-url="/sysin/transaction_record_to_object/?local_table=[% local_table %]&local_id=[% local_id %]">
	</div>
	
</div>