$transition-duration: 0.35s;
$transition-scale: 1;

.detail-modal {

	.zs-modal-header {
		display: none;
	}

	&.ng-enter {
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}

	&.ng-enter-active {
		animation: detail-modal-in #{$transition-duration};
	}

	&.ng-leave-active {
		animation: detail-modal-out #{$transition-duration};
	}

}

.detail-modal + meeting-app {
	opacity: 0.5;
}

.detail-modal.ng-enter-active + meeting-app {
	animation: view-out #{$transition-duration};
}

.detail-modal.ng-leave-active + meeting-app {
	animation: view-in #{$transition-duration};
}

@keyframes detail-modal-in {
	0%, 50% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes detail-modal-out {
	0% { transform: translateX(0); }
	50%, 100% { transform: translateX(100%); }
}

@keyframes view-in {
	0%, 50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}

}

@keyframes view-out {
	0% {
		opacity: 1;
	}
	50%, 100% {
		opacity: 0.5;
	}
}
