<zs-spinner is-loading="vm.isLoading()"></zs-spinner>

<div class="zs-map-component" ng-class="{ fullscreen: vm.isFullscreen() }">

	<ul class="zs-map-toolbar" ng-show="!vm.isLoading()">
		<li
			ng-repeat="button in vm.getButtons()"
			ng-switch="button.type"
			zs-tooltip="{{::button.label}}"
			zs-tooltip-options="{ offset: { x: 0, y: -10 }}"
		>
			<button
				class="zs-map-toolbar-button btn-round"
				ng-class="button.style"
				ng-click="button.click($event)"
				ng-switch-when="button"
				aria-label={{::button.label}}
			>
				<zs-icon icon-type="{{::button.icon}}"></zs-icon>
			</button>

			<zs-dropdown-menu
				button-style="{ 'zs-map-toolbar-button': true, 'btn-round': true }"
				options="button.options"
				button-icon="{{::button.icon}}"
				ng-switch-when="dropdown"
			>
			</zs-dropdown-menu>

		</li>
	</ul>


	<div class="zs-map-container" id="{{vm.getId()}}">
	</div>
</div>

<div class="popup-layer">
</div>
