[% BLOCK beheer_link %]
    [% IF can_link_to_beheer && crumb.id %]
    <a class="[% link_class %] breadcrumb-item-button"
        href="/beheer/bibliotheek/[% crumb.id %]" class="prev">[% crumb.name | html_entity%]</a>
    [% ELSE %]
        <a class="[% link_class %] breadcrumb-item-button">[% crumb.name | html_entity %]</a>
    [% END %]
[% END %]


[% IF !crumbs.size %]
[% ELSE %]

    [% can_link_to_beheer = c.check_any_user_permission('beheer_kenmerken_admin', 'beheer_sjablonen_admin','beheer_zaaktype_admin') %]
    <div class="breadcrumb-wrapper">
        <div class="breadcrumb clearfix">     
            [% IF !crumbs.size %]
    
                <span class="last">Catalogus</span>        
            [% ELSE %]
                [% IF can_link_to_beheer %]
                    <div class="breadcrumb-item"><a href="[% c.uri_for('/beheer/bibliotheek/') %]" class="breadcrumb-item-button">Catalogus</a></div>
                [% ELSE %]
                    <div class="breadcrumb-item"><a class="breadcrumb-item-button">Catalogus</a></div>
                [% END %]
            [% END %]
    
            [% FOREACH crumb IN crumbs %]
                [% IF loop.last %]
                    [% IF link_current_category %]
                        <span class="breadcrumb-arrow"></span>
                        <div class="breadcrumb-item">[% PROCESS beheer_link %]</div>
                    [% ELSE %]
                        <span class="breadcrumb-arrow"></span>
                        <div class="breadcrumb-item-label">[% crumb.name | html_entity %]</div>
                    [% END %]
                [% ELSE %]
                    <span class="breadcrumb-arrow"></span>
                    <div class="breadcrumb-item">[% PROCESS beheer_link %]</div>
                [% END %]
            [% END %]
        </div>
    </div>
[% END %]
